install/

# This directory is fetched during first build and is present in this directory
subprojects/freeDiameter
subprojects/libtins
subprojects/prometheus-client-c
subprojects/usrsctp

run_logs/
run_pids/
open5gs/

webui/.next
